extends templates/layout

block content
    .col-12.col-md-9#movies
        .row
            if movies.length > 0
                each movie, index in movies
                    .col-12.col-md-6.col-lg-4.movie
                        <div class="card">
                            <div class="card-header">
                                img(class="card-img-top", src="http://image.tmdb.org/t/p/w500" + movie.poster_path, alt=movie.title, title=movie.title)
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">#{movie.title}</h5>
                                <p class="card-text">#{movie.overview}</p>
                            </div>
                            <div class="card-footer">
                                a(href="/movie/" + movie.id, class="btn primary-btn btn-sm") Details
                            </div>
                        </div>
            else
                <p>No results</p>