extends templates/layout

block content
    section.container-fluid.movies
        .container
            .row
                each serie, index in series
                    .col-12.col-sm-6.col-md-4.col-lg-3.serie-card
                        p= serie.name
    section.container-fluid