doctype html
html
  head
    title= title
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="icon", type="image/png", href="images/favicon.ico")
    link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style-cover.css')
  body
    main#main.main
      block content
    block scripts
      script(type='text/javascript', src='/bower_components/jquery/dist/jquery.min.js')
      script(type='text/javascript', src='/bower_components/bootstrap/dist/js/bootstrap.min.js')
      script(type='text/javascript', src='/javascripts/scripts.js')