body {
  padding: 0;
  margin: 0;
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 14px;
  /* background-color: #0f171e; */
  /* background-color: rgba(0, 183, 255, 0.8); */
}
.primary {
  color: #00b7ff;
}
.grey {
  color: #a8a8a8;
}
.secondary {
  color: #dc7921;
}

/* Links*/
a,
a:hover {
  text-decoration: none;
}
.primary-link {
  color: #969696 !important;
}
.primary-link:hover,
.active.primary-link {
  color: #dc7921 !important;
  border-left: 1px solid #dc7921;
}
.primary-link.detail-genre-filter-link:hover {
  border-left: none;
}
.grey-link {
  color: #969696 !important;
}
.grey-link:hover,
.active.grey-link {
  color: #636363 !important;
  border-left: 1px solid #797979;
}

.primary-btn {
  color: #fff;
  background-color: #00b7ff;
}
.primary-btn:hover {
  color: #fff;
  filter: brightness(80%);
}

.loading-mask {
  display: none;
  position: fixed;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  background-color: rgba(0, 0, 0, 0.85);
  z-index: 10;
}
.loading-mask i {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  font-size: 50px;
  color: #dc7921;
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 5;
  background-color: rgba(27, 37, 48, 0.85);
}
.main {
  margin-top: 76px;
}

/* Navbar */
.navbar {
  min-height: 70px;
}
.navbar-brand {
  height: 100%;
  max-height: 70px;
  padding: 0;
}
.navbar-brand img {
  width: auto;
  height: 60px;
}

section {
  padding: 30px 15px;
}

/* Cards */
.card {
  margin-bottom: 30px;
}
.card-header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}
.card-img-top {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.card-body {
  position: relative;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 16px; /* fallback */
  height: 180px; /* fallback */
  font-size: 13px;
  background-color: #f5f5f5;
}
.card-body:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background-image: linear-gradient(to top, #fff 15%, transparent 100%);
}
.card-title {
  color: #dc7921;
  font-size: 1.2rem;
}
.card-text {
  color: #969696;
}

@media only screen and (min-width: 576px) {
  .card-header {
    height: 358px;
  }
  .card-img-top {
  }
}

/* Movie Details */
.movie-block {
  display: flex;
  align-items: stretch;
  padding: 20px 0;
  background-color: #f5f5f5;
}
.movie-block .movie-img {
}
.movie-block .movie-img img {
  width: 100%;
  height: auto;
}
.movie-block .movie-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.movie-block .movie-info .movie-title {
  font-size: 1.6rem;
  margin-bottom: 20px;
  border-bottom: 1px solid;
}
.movie-block .movie-info .movie-date-rate {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100%;
  min-height: 50px;
}
.movie-block .movie-info .movie-date {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  min-height: 50px;
  font-size: 1.2rem;
}

/* x-star-rating {
  font-family: "Font Awesome 5 Free";
  font-size: 40px;
  display: inline-flex;
  cursor: pointer;
}
x-star-rating > .star::after {
  content: "";
  color: #a8a8a8;
}
x-star-rating > .star.full::after {
  content: "";
  color: #dc7921;
}*/

.movie-rate,
.stars {
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-start;
  justify-content: flex-end;
  min-height: 50px;
  font-size: 1rem;
}

.movie-rate > input {
  display: none;
}
.movie-rate > label:before {
  margin: 5px;
  font-size: 1.25em;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  display: inline-block;
  content: "\f005";
}

.movie-rate > .half:before {
  content: "\f089";
  position: absolute;
}

.movie-rate > label {
  float: right;
}

/***** CSS Magic to Highlight Stars on Hover *****/

.movie-rate > input:checked ~ label, /* show gold star when clicked */
  .movie-rate:not(:checked) > label:hover, /* hover current star */
  .movie-rate:not(:checked) > label:hover ~ label {
  color: #dc7921;
} /* hover previous stars in list */

.movie-rate > input:checked + label:hover, /* hover current star when changing movie-rate */
  .movie-rate > input:checked ~ label:hover,
  .movie-rate > label:hover ~ input:checked ~ label, /* lighten current selection */
  .movie-rate > input:checked ~ label:hover ~ label {
  color: #f19d52;
}

.movie-block .movie-info .movie-desc {
  line-height: 1.2rem;
  margin-bottom: 20px;
}
.movie-block .movie-info .movie-features {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  height: 100%;
}
.movie-block .movie-info .movie-features .movie-tags {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 37px;
}
.movie-block .movie-info .movie-features .movie-tags .tag {
  margin-right: 10px;
}
.movie-block .movie-info .movie-features .movie-tags .tag i {
  margin-right: 2px;
}
.movie-block .movie-info .movie-features .movie-actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.movie-block .movie-info .movie-features .movie-actions .action {
}

.custom-check {
  display: none;
}
.custom-check + label {
  margin-left: 6px;
  margin-bottom: 0;
}
.custom-check + label:hover {
  color: #f19d52;
}
.custom-check + label:after {
  font-family: "Font Awesome\ 5 Free";
  font-size: 25px;
  font-weight: 900;
}

#toggleLibrary + label:after {
  content: "\f02e";
}

#toggleFav + label:after {
  content: "\f004";
}

/* Filters */
.filters {
}
.filter-block {
  margin-bottom: 20px;
  padding: 20px;
  /* border-bottom: 1px solid #dc7921; */
  background-color: #f5f5f5;
}
.filter-header {
  padding-bottom: 5px;
  margin-bottom: 10px;
  color: #dc7921;
  border-bottom: 1px solid #dc7921;
}
.filter-content {
}
.search-group {
  position: relative;
  margin: 0;
}
.search-group .form-control {
  height: 34px;
  padding-right: 34px;
  font-size: 0.8rem;
}
.search-group i {
  position: absolute;
  top: 10px;
  right: 10px;
}

.filters a {
  display: flex;
  padding: 3px 5px;
  margin: 5px 3px;
  border-left: 1px solid transparent;
  text-decoration: none;
}
