body {
  padding: 0;
  margin: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a,
a:hover {
  text-decoration: none;
}
.primary-link {
  color: #00b7ff;
}
.primary-link:hover {
  color: #dc7921;
}
.active.primary-link {
  font-weight: bold;
  color: #dc7921;
}

.loading-mask {
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  background-color: rgba(0, 0, 0, 0.85);
  z-index: 10;
}
.loading-mask.hidden {
  display: none;
}

/* Navbar */
.navbar {
  min-height: 70px;
}
.navbar-brand {
  height: 100%;
  max-height: 70px;
  padding: 0;
}
.navbar-brand img {
  width: auto;
  height: 60px;
}

section {
  padding: 30px 15px;
}

/* Cards */
.card {
  margin-bottom: 30px;
}
.card-header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}
.card-img-top {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.card-body {
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 16px; /* fallback */
  height: 180px; /* fallback */
  -webkit-box-orient: vertical;
}

@media only screen and (min-width: 576px) {
  .card-header {
    height: 358px;
  }
  .card-img-top {
  }
}

/* Filters */
.filters {
}
.filters a {
  text-decoration: none;
}
.filters a {
  text-decoration: none;
}
.filters a.hover,
.filters a.active {
  font-weight: bold;
}
